/* ====================================
   GLOBAL STYLES
=====================================*/
html, body {
    margin: 0;
    padding: 0;
    font-family: arial;
    font-size: 12px;
    line-height: 18px;
}
.clear {clear: both;}
.left {float: left}
.right {float: right}
img, a img, a:link img, a:hover img {
    border: none;
    background: transparent;
}

.cookiecrumb {
    margin: -30px 0 30px 0;
    padding: 8px 15px;
    background-color: #e5e5e5;
    color: #666666;
    font-size: 11px
}


/* ====================================
   BLOCK STYLES
=====================================*/
.center, #messages, #content, #footer {
    position: relative;
    margin: 0 auto;
    width: 95%;
}
#header {
    background-image: url('../images/main_bg.gif');
    background-repeat: repeat-x;
    background-color: #2d2d29;
    color: #ffffff
}
#header span {
    position: absolute;
    top: 23px;
    right: 0px;
    color: #939393
}
#header h1 span {position: relative; top: 0; right: 0; font-weight: normal;}
#header .tabs {padding-top: 66px; font-size: 14px}
#header .sub_tabs {
    background-image: url('../images/sub_bg.gif');
    background-repeat: repeat-x;
    background-color: #4298b5;
    padding: 8px 15px;
    font-weight: bold;
    clear: both;
}

#content {margin: 30px auto 0 auto}
#content .area, #content .area.full {width: 100%; margin-bottom: 40px; clear: both}
#content .area.left, #content .area.right {width: 82%; clear: none}
#content .area.left.short, #content .area.right.short {width: 15%;}
#content .area.left.half, #content .area.right.half,
#content .area .left, #content .area .right {width: 47%}
#content .area, #content .area.left, #content .area.right, #content .area.full
#content .area.inner {position: relative}
#content .area.nomargin {margin: 0}

#content .buttons {margin-top: 16px}
#content .buttons .left, #content .buttons.left,
#content .buttons .right, #content .buttons.right {width: auto}

#footer {
    border-top: 4px solid #4298b5;
    margin: 15px auto 0 auto;
    padding: 5px 0 60px 0;
    font-size: 11px;
    color: #6f6f6f;
}


/* ====================================
   TITLE STYLES
=====================================*/
h1, h2, h3, h4 {margin: 0; padding: 0;}
h2, h3 {margin-bottom: 15px;}
.area.short h3 {margin: 0;}
h1 {
    position: absolute;
    top: 23px;
    left: 0px;
    font-size: 22px;
}
#content h1 {
    position: relative;
    top: 0;
    left: 0;
    padding-bottom: 8px;
    margin-bottom: 15px;
    font-size: 22px;
}
#content h2 {
    position: relative;
    padding: 4px 0 8px 0;
    font-size: 18px;
    border-bottom: 4px solid #2d2d29;
    color: #2d2d29;
}
#content h2 span {
    display: block;
    font-size: 11px;
    font-weight: normal;
    color: #666666;
}
#content h3 {
	padding: 4px 0 8px 0;
    font-size: 18px;
    border-bottom: 4px solid #666666;
    color: #666666;
}
/*
#content h3 {
    padding: 8px 0;
    font-size: 18px;
    border-bottom: 4px solid #666666;
    color: #666666;
}
*/
#content h4 {
    margin-bottom: 5px;
    color: #242424;
    font-size: 14px;
    font-weight: normal;
}
#content div.fixed {
    position: absolute;
    top: 0;
    right: 0
}


/* ====================================
   NOTIFY / ERROR STYLES
=====================================*/
#messages div {padding: 10px 15px; font-size: 14px; font-weight: bold;}
#messages div.message-error {
    background-image: url('../images/error_bg.gif');
    background-repeat: repeat-x;
    background-color: #efbebe;
    color: #6f1212
}
#messages div.message-success {
    background-image: url('../images/notify_bg.gif');
    background-repeat: repeat-x;
    background-color: #c3efbe;
    color: #1b6c11
}


/* ====================================
   LINK STYLES
=====================================*/
a, a:link, a:visited {color: #4298b5; text-decoration: none}
a:hover {background-color: #4298b5; color: #ffffff}

a small, a:link small, a:visited small {color: #666666}
a:hover small {color: #ffffff}

a.up {background-image: url('../images/arrow_up.gif')}
a.down {background-image: url('../images/arrow_down.gif')}
a.down, a.up {
    padding-right: 10px;
    background-repeat: no-repeat;
    background-position: right
}

th a, th a:link, th a:visited {color: #3f3f3f}
th a:hover {background-color: transparent; text-decoration: underline}

#header a {color: #ffffff}
#header .tabs a {
    background-image: url('../images/tab_bg.gif');
    background-repeat: repeat-x;
    background-color: #3a3a36;
    padding: 8px 15px;
    display: block
}
#header .tabs a:hover {background-color: #484848; background-image: none}
#header .tabs a.on, #header a:hover.on, #header .tabs li.active a {
    background-image: url('../images/tabon_bg.gif');
    background-repeat: repeat-x;
    background-color: #4298b5
}
#header .sub_tabs a {color: #90d7ef;}
#header .sub_tabs a:hover {color: #ffffff; text-decoration: underline}
#header .sub_tabs a.on, #header .sub_tabs li.active a {color: #ffffff}

#header .tabs-left ul {float: left;}

/*
#content table th a, table th a:link, table th a:visited {color: #3f3f3f}
#content table th a:hover {color: #3f3f3f; text-decoration: underline; background: none}
*/


/* ====================================
   LIST STYLES
=====================================*/
ul, ul li {margin: 0; padding: 0; list-style: none}

#header li {float: left}
#header .left li {margin-right: 2px}
#header .right li {margin-left: 2px}
#header .sub_tabs .left li {margin-right: 15px}

#content ul.links {margin-top: -5px}
#content ul.links li {padding: 3px 0 3px 10px}

#content ul.pagination li {float: left; margin: 0 0 0 5px}
#content ul.pagination a {padding: 2px 6px; border: 1px solid #c1c1c1}
#content ul.pagination a.on {background-color: #4298b5; color: #ffffff}

.area.short ul li {
	padding: 4px 8px;
	border-bottom: 1px solid #D9D9D9;
}
.area.short ul li.active a {
	color: #333;
}
.area.short ul li.active a:hover {
	background: none;
}

/* ====================================
   TABLE STYLES
=====================================*/
table {width: 100%; margin: -15px 0 0 0}
table th, table td {padding: 5px 10px; border-bottom: 1px solid #c1c1c1}
table th {
    background-image: url('../images/th_bg.gif');
    background-repeat: repeat-x;
    background-color: #d0d0d0;
    color: #3f3f3f;
    font-size: 11px;
    padding: 2px 10px;
    text-align: left
}
table th.input, table td.input {width: 20px; padding: 5px 0 5px 10px}
table th.input {padding: 2px 0 2px 10px}

table.stripe .alt {background-color: #f2f2f2}
table.stripe .over {
    background-image: url('../images/highlight_bg.gif');
    background-repeat: repeat-x;
    background-color: #d0e2e8
}


/* ====================================
   FORM STYLES
=====================================*/
#content form .validate-error span {
    background-color: #efbebe;
    color: #6f1212;
	padding: 2px 5px;
	display: block;
	float: left;
}
#content form fieldset {margin: 0; padding: 0; border: none}
#content form label {
    display: block;
    color: #666666;
    font-weight: bold;
    padding-bottom: 2px
}
#content form ul {margin: 0; padding: 0}
#content form ul li {margin: 0 0 20px 0; padding: 0}

#content .text input, .select select, .textarea textarea {
    font-size: 12px;
    font-family: arial;
    padding: 5px;
    margin: 0;
    border: 1px solid #b3b3b3;
}

#content form .testing {
    display: block;
    background-color: #efbebe;
    color: #6f1212;
    border: 1px solid blue;
}

#content .text.fixed input {width: 138px}
#content form .text.mini input {width: 60px}
#content form .text.small input {width: 40%}
#content form .text.medium input {width: 55%}
#content form .text.large input {width: 70%}
#content form .text.full input {width: 100%}
#content form .text.full {padding-right: 12px}

#content .select.fixed select {width: 150px}
#content form .select.mini select {width: 72px}
#content form .select.small select {width: 41.3%}
#content form .select.medium select {width: 56.3%}
#content form .select.large select {width: 71.3%}
#content form .select.full select {width: 100%}

#content form .textarea.small textarea {width: 40%; height: 100px}
#content form .textarea.medium textarea {width: 55%; height: 125px}
#content form .textarea.large textarea {width: 70%; height: 150px}
#content form .textarea.full textarea {width: 100%; height: 100px}
#content form .textarea.full {padding-right: 12px}

