/**
 * This file contains custom styles for the 960 grid that are specific to the admin theme
 */
.graybg {
    background-color: #666;
}

ul.main {
    float: left;
}

ul.right {
    float: right;
}

.messages p {
    padding: 10px;
    margin: 0;
    font-size: 1.5em;
}

.messages .error {
    color: #990000;
    background-color: #FFB3B3;
}

.messages .success, .messages .ok {
    color: #008000;
    background-color: #CCFFCC;
}

.messages .info {
    color: #666600;
    background-color: #FFFFB3;
}

form .error {
    margin-top: -9px;
}

form .login .error {
    margin-left: 35%;
}

form .error span {
    color: #990000;
    background-color: #FFB3B3;
    padding: 5px;
}

th.right,
td.right {
	text-align:right;
}

ul.main li.active a {
    background: #555;
}

ul.pagination {
    margin-bottom: 10px;
    width: 100%;
}

ul.pagination li a.active {background: #444;}

ul.pagination, ul.pagination li {
    text-align: center;
}
