/* Reset */
.caffeineSkin table, .caffeineSkin tbody, .caffeineSkin a, .caffeineSkin img, .caffeineSkin tr, .caffeineSkin div, .caffeineSkin td, .caffeineSkin iframe, .caffeineSkin span, .caffeineSkin *, .caffeineSkin .mceText {border:0; margin:0; padding:0; background:transparent; white-space:nowrap; text-decoration:none; font-weight:normal; cursor:default; color:#000; vertical-align:baseline; width:auto; border-collapse:separate; text-align:left}
.caffeineSkin a:hover, .caffeineSkin a:link, .caffeineSkin a:visited, .caffeineSkin a:active {text-decoration:none; font-weight:normal; cursor:default; color:#000}
.caffeineSkin table td {vertical-align:middle}

/* Containers */
.caffeineSkin table {background:#F0F0EE}
.caffeineSkin iframe {display:block; background:#FFF}
.caffeineSkin .mceToolbar {height:26px}
.caffeineSkin .mceLeft {text-align:left}
.caffeineSkin .mceRight {text-align:right}

/* External */
.caffeineSkin .mceExternalToolbar {position:absolute; border:1px solid #CCC; border-bottom:0; display:none;}
.caffeineSkin .mceExternalToolbar td.mceToolbar {padding-right:13px;}
.caffeineSkin .mceExternalClose {position:absolute; top:3px; right:3px; width:7px; height:7px; background:url(../../img/icons.gif) -820px 0}

/* Layout */
.caffeineSkin table.mceLayout {border:0; border-left:1px solid #CCC; border-right:1px solid #CCC}
.caffeineSkin table.mceLayout tr.mceFirst td {border-top:1px solid #CCC}
.caffeineSkin table.mceLayout tr.mceLast td {border-bottom:1px solid #CCC}
.caffeineSkin table.mceToolbar, .caffeineSkin tr.mceFirst .mceToolbar tr td, .caffeineSkin tr.mceLast .mceToolbar tr td {border:0; margin:0; padding:0;}
.caffeineSkin td.mceToolbar {padding-top:1px; vertical-align:top}
.caffeineSkin .mceIframeContainer {border-top:1px solid #CCC; border-bottom:1px solid #CCC}
.caffeineSkin .mceStatusbar {font-family:'MS Sans Serif',sans-serif,Verdana,Arial; font-size:9pt; line-height:16px; overflow:visible; color:#000; display:block; height:20px}
.caffeineSkin .mceStatusbar div {float:left; margin:2px}
.caffeineSkin .mceStatusbar a.mceResize {display:block; float:right; background:url(../../img/icons.gif) -800px 0; width:20px; height:20px; cursor:se-resize}
.caffeineSkin .mceStatusbar a:hover {text-decoration:underline}
.caffeineSkin table.mceToolbar {margin-left:3px}
.caffeineSkin span.mceIcon, .caffeineSkin img.mceIcon {display:block; width:20px; height:20px}
.caffeineSkin .mceIcon {background:url(../../img/icons.gif) no-repeat 20px 20px}
.caffeineSkin td.mceCenter {text-align:center;}
.caffeineSkin td.mceCenter table {margin:0 auto; text-align:left;}
.caffeineSkin td.mceRight table {margin:0 0 0 auto;}

/* Button */
.caffeineSkin .mceButton {display:block; border:1px solid #F0F0EE; width:20px; height:20px; margin-right:1px}
.caffeineSkin a.mceButtonEnabled:hover {border:1px solid #0A246A; background-color:#B2BBD0}
.caffeineSkin a.mceButtonActive, .caffeineSkin a.mceButtonSelected {border:1px solid #0A246A; background-color:#C2CBE0}
.caffeineSkin .mceButtonDisabled .mceIcon {opacity:0.3; -ms-filter:'alpha(opacity=30)'; filter:alpha(opacity=30)}
.caffeineSkin .mceButtonLabeled {width:auto}
.caffeineSkin .mceButtonLabeled span.mceIcon {float:left}
.caffeineSkin span.mceButtonLabel {display:block; font-size:10px; padding:4px 6px 0 22px; font-family:Tahoma,Verdana,Arial,Helvetica}
.caffeineSkin .mceButtonDisabled .mceButtonLabel {color:#888}

/* Separator */
.caffeineSkin .mceSeparator {display:block; background:url(../../img/icons.gif) -180px 0; width:2px; height:20px; margin:2px 2px 0 4px}

/* ListBox */
.caffeineSkin .mceListBox {direction:ltr}
.caffeineSkin .mceListBox, .caffeineSkin .mceListBox a {display:block}
.caffeineSkin .mceListBox .mceText {padding-left:4px; width:70px; text-align:left; border:1px solid #CCC; border-right:0; background:#FFF; font-family:Tahoma,Verdana,Arial,Helvetica; font-size:11px; height:20px; line-height:20px; overflow:hidden}
.caffeineSkin .mceListBox .mceOpen {width:9px; height:20px; background:url(../../img/icons.gif) -741px 0; margin-right:2px; border:1px solid #CCC;}
.caffeineSkin table.mceListBoxEnabled:hover .mceText, .caffeineSkin .mceListBoxHover .mceText, .caffeineSkin .mceListBoxSelected .mceText {border:1px solid #A2ABC0; border-right:0; background:#FFF}
.caffeineSkin table.mceListBoxEnabled:hover .mceOpen, .caffeineSkin .mceListBoxHover .mceOpen, .caffeineSkin .mceListBoxSelected .mceOpen {background-color:#FFF; border:1px solid #A2ABC0}
.caffeineSkin .mceListBoxDisabled a.mceText {color:gray; background-color:transparent;}
.caffeineSkin .mceListBoxMenu {overflow:auto; overflow-x:hidden}
.caffeineSkin .mceOldBoxModel .mceListBox .mceText {height:22px}
.caffeineSkin .mceOldBoxModel .mceListBox .mceOpen {width:11px; height:22px;}
.caffeineSkin select.mceNativeListBox {font-family:'MS Sans Serif',sans-serif,Verdana,Arial; font-size:7pt; background:#F0F0EE; border:1px solid gray; margin-right:2px;}

/* SplitButton */
.caffeineSkin .mceSplitButton {width:32px; height:20px; direction:ltr}
.caffeineSkin .mceSplitButton a, .caffeineSkin .mceSplitButton span {height:20px; display:block}
.caffeineSkin .mceSplitButton a.mceAction {width:20px; border:1px solid #F0F0EE; border-right:0;}
.caffeineSkin .mceSplitButton span.mceAction {width:20px; background:url(../../img/icons.gif) 20px 20px;}
.caffeineSkin .mceSplitButton a.mceOpen {width:9px; background:url(../../img/icons.gif) -741px 0; border:1px solid #F0F0EE;}
.caffeineSkin .mceSplitButton span.mceOpen {display:none}
.caffeineSkin table.mceSplitButtonEnabled:hover a.mceAction, .caffeineSkin .mceSplitButtonHover a.mceAction, .caffeineSkin .mceSplitButtonSelected a.mceAction {border:1px solid #0A246A; border-right:0; background-color:#B2BBD0}
.caffeineSkin table.mceSplitButtonEnabled:hover a.mceOpen, .caffeineSkin .mceSplitButtonHover a.mceOpen, .caffeineSkin .mceSplitButtonSelected a.mceOpen {background-color:#B2BBD0; border:1px solid #0A246A;}
.caffeineSkin .mceSplitButtonDisabled .mceAction, .caffeineSkin .mceSplitButtonDisabled a.mceOpen {opacity:0.3; -ms-filter:'alpha(opacity=30)'; filter:alpha(opacity=30)}
.caffeineSkin .mceSplitButtonActive a.mceAction {border:1px solid #0A246A; background-color:#C2CBE0}
.caffeineSkin .mceSplitButtonActive a.mceOpen {border-left:0;}

/* ColorSplitButton */
.caffeineSkin div.mceColorSplitMenu table {background:#FFF; border:1px solid gray}
.caffeineSkin .mceColorSplitMenu td {padding:2px}
.caffeineSkin .mceColorSplitMenu a {display:block; width:9px; height:9px; overflow:hidden; border:1px solid #808080}
.caffeineSkin .mceColorSplitMenu td.mceMoreColors {padding:1px 3px 1px 1px}
.caffeineSkin .mceColorSplitMenu a.mceMoreColors {width:100%; height:auto; text-align:center; font-family:Tahoma,Verdana,Arial,Helvetica; font-size:11px; line-height:20px; border:1px solid #FFF}
.caffeineSkin .mceColorSplitMenu a.mceMoreColors:hover {border:1px solid #0A246A; background-color:#B6BDD2}
.caffeineSkin a.mceMoreColors:hover {border:1px solid #0A246A}
.caffeineSkin .mceColorPreview {margin-left:2px; width:16px; height:4px; overflow:hidden; background:#9a9b9a}
.caffeineSkin .mce_forecolor span.mceAction, .caffeineSkin .mce_backcolor span.mceAction {overflow:hidden; height:16px}

/* Menu */
.caffeineSkin .mceMenu {position:absolute; left:0; top:0; z-index:1000; border:1px solid #D4D0C8}
.caffeineSkin .mceNoIcons span.mceIcon {width:0;}
.caffeineSkin .mceNoIcons a .mceText {padding-left:10px}
.caffeineSkin .mceMenu table {background:#FFF}
.caffeineSkin .mceMenu a, .caffeineSkin .mceMenu span, .caffeineSkin .mceMenu {display:block}
.caffeineSkin .mceMenu td {height:20px}
.caffeineSkin .mceMenu a {position:relative;padding:3px 0 4px 0}
.caffeineSkin .mceMenu .mceText {position:relative; display:block; font-family:Tahoma,Verdana,Arial,Helvetica; color:#000; cursor:default; margin:0; padding:0 25px 0 25px; display:block}
.caffeineSkin .mceMenu span.mceText, .caffeineSkin .mceMenu .mcePreview {font-size:11px}
.caffeineSkin .mceMenu pre.mceText {font-family:Monospace}
.caffeineSkin .mceMenu .mceIcon {position:absolute; top:0; left:0; width:22px;}
.caffeineSkin .mceMenu .mceMenuItemEnabled a:hover, .caffeineSkin .mceMenu .mceMenuItemActive {background-color:#dbecf3}
.caffeineSkin td.mceMenuItemSeparator {background:#DDD; height:1px}
.caffeineSkin .mceMenuItemTitle a {border:0; background:#EEE; border-bottom:1px solid #DDD}
.caffeineSkin .mceMenuItemTitle span.mceText {color:#000; font-weight:bold; padding-left:4px}
.caffeineSkin .mceMenuItemDisabled .mceText {color:#888}
.caffeineSkin .mceMenuItemSelected .mceIcon {background:url(img/menu_check.gif)}
.caffeineSkin .mceNoIcons .mceMenuItemSelected a {background:url(img/menu_arrow.gif) no-repeat -6px center}
.caffeineSkin .mceMenu span.mceMenuLine {display:none}
.caffeineSkin .mceMenuItemSub a {background:url(img/menu_arrow.gif) no-repeat top right;}

/* Progress,Resize */
.caffeineSkin .mceBlocker {position:absolute; left:0; top:0; z-index:1000; opacity:0.5; -ms-filter:'alpha(opacity=50)'; filter:alpha(opacity=50); background:#FFF}
.caffeineSkin .mceProgress {position:absolute; left:0; top:0; z-index:1001; background:url(img/progress.gif) no-repeat; width:32px; height:32px; margin:-16px 0 0 -16px}
.caffeineSkin .mcePlaceHolder {border:1px dotted gray}

/* Formats */
.caffeineSkin .mce_formatPreview a {font-size:10px}
.caffeineSkin .mce_p span.mceText {}
.caffeineSkin .mce_address span.mceText {font-style:italic}
.caffeineSkin .mce_pre span.mceText {font-family:monospace}
.caffeineSkin .mce_h1 span.mceText {font-weight:bolder; font-size: 2em}
.caffeineSkin .mce_h2 span.mceText {font-weight:bolder; font-size: 1.5em}
.caffeineSkin .mce_h3 span.mceText {font-weight:bolder; font-size: 1.17em}
.caffeineSkin .mce_h4 span.mceText {font-weight:bolder; font-size: 1em}
.caffeineSkin .mce_h5 span.mceText {font-weight:bolder; font-size: .83em}
.caffeineSkin .mce_h6 span.mceText {font-weight:bolder; font-size: .75em}

/* Theme */
.caffeineSkin span.mce_bold {background-position:0 0}
.caffeineSkin span.mce_italic {background-position:-60px 0}
.caffeineSkin span.mce_underline {background-position:-140px 0}
.caffeineSkin span.mce_strikethrough {background-position:-120px 0}
.caffeineSkin span.mce_undo {background-position:-160px 0}
.caffeineSkin span.mce_redo {background-position:-100px 0}
.caffeineSkin span.mce_cleanup {background-position:-40px 0}
.caffeineSkin span.mce_bullist {background-position:-20px 0}
.caffeineSkin span.mce_numlist {background-position:-80px 0}
.caffeineSkin span.mce_justifyleft {background-position:-460px 0}
.caffeineSkin span.mce_justifyright {background-position:-480px 0}
.caffeineSkin span.mce_justifycenter {background-position:-420px 0}
.caffeineSkin span.mce_justifyfull {background-position:-440px 0}
.caffeineSkin span.mce_anchor {background-position:-200px 0}
.caffeineSkin span.mce_indent {background-position:-400px 0}
.caffeineSkin span.mce_outdent {background-position:-540px 0}
.caffeineSkin span.mce_link {background-position:-500px 0}
.caffeineSkin span.mce_unlink {background-position:-640px 0}
.caffeineSkin span.mce_sub {background-position:-600px 0}
.caffeineSkin span.mce_sup {background-position:-620px 0}
.caffeineSkin span.mce_removeformat {background-position:-580px 0}
.caffeineSkin span.mce_newdocument {background-position:-520px 0}
.caffeineSkin span.mce_image {background-position:-380px 0}
.caffeineSkin span.mce_help {background-position:-340px 0}
.caffeineSkin span.mce_code {background-position:-260px 0}
.caffeineSkin span.mce_hr {background-position:-360px 0}
.caffeineSkin span.mce_visualaid {background-position:-660px 0}
.caffeineSkin span.mce_charmap {background-position:-240px 0}
.caffeineSkin span.mce_paste {background-position:-560px 0}
.caffeineSkin span.mce_copy {background-position:-700px 0}
.caffeineSkin span.mce_cut {background-position:-680px 0}
.caffeineSkin span.mce_blockquote {background-position:-220px 0}
.caffeineSkin .mce_forecolor span.mceAction {background-position:-720px 0}
.caffeineSkin .mce_backcolor span.mceAction {background-position:-760px 0}
.caffeineSkin span.mce_forecolorpicker {background-position:-720px 0}
.caffeineSkin span.mce_backcolorpicker {background-position:-760px 0}

/* Plugins */
.caffeineSkin span.mce_advhr {background-position:-0px -20px}
.caffeineSkin span.mce_ltr {background-position:-20px -20px}
.caffeineSkin span.mce_rtl {background-position:-40px -20px}
.caffeineSkin span.mce_emotions {background-position:-60px -20px}
.caffeineSkin span.mce_fullpage {background-position:-80px -20px}
.caffeineSkin span.mce_fullscreen {background-position:-100px -20px}
.caffeineSkin span.mce_iespell {background-position:-120px -20px}
.caffeineSkin span.mce_insertdate {background-position:-140px -20px}
.caffeineSkin span.mce_inserttime {background-position:-160px -20px}
.caffeineSkin span.mce_absolute {background-position:-180px -20px}
.caffeineSkin span.mce_backward {background-position:-200px -20px}
.caffeineSkin span.mce_forward {background-position:-220px -20px}
.caffeineSkin span.mce_insert_layer {background-position:-240px -20px}
.caffeineSkin span.mce_insertlayer {background-position:-260px -20px}
.caffeineSkin span.mce_movebackward {background-position:-280px -20px}
.caffeineSkin span.mce_moveforward {background-position:-300px -20px}
.caffeineSkin span.mce_media {background-position:-320px -20px}
.caffeineSkin span.mce_nonbreaking {background-position:-340px -20px}
.caffeineSkin span.mce_pastetext {background-position:-360px -20px}
.caffeineSkin span.mce_pasteword {background-position:-380px -20px}
.caffeineSkin span.mce_selectall {background-position:-400px -20px}
.caffeineSkin span.mce_preview {background-position:-420px -20px}
.caffeineSkin span.mce_print {background-position:-440px -20px}
.caffeineSkin span.mce_cancel {background-position:-460px -20px}
.caffeineSkin span.mce_save {background-position:-480px -20px}
.caffeineSkin span.mce_replace {background-position:-500px -20px}
.caffeineSkin span.mce_search {background-position:-520px -20px}
.caffeineSkin span.mce_styleprops {background-position:-560px -20px}
.caffeineSkin span.mce_table {background-position:-580px -20px}
.caffeineSkin span.mce_cell_props {background-position:-600px -20px}
.caffeineSkin span.mce_delete_table {background-position:-620px -20px}
.caffeineSkin span.mce_delete_col {background-position:-640px -20px}
.caffeineSkin span.mce_delete_row {background-position:-660px -20px}
.caffeineSkin span.mce_col_after {background-position:-680px -20px}
.caffeineSkin span.mce_col_before {background-position:-700px -20px}
.caffeineSkin span.mce_row_after {background-position:-720px -20px}
.caffeineSkin span.mce_row_before {background-position:-740px -20px}
.caffeineSkin span.mce_merge_cells {background-position:-760px -20px}
.caffeineSkin span.mce_table_props {background-position:-980px -20px}
.caffeineSkin span.mce_row_props {background-position:-780px -20px}
.caffeineSkin span.mce_split_cells {background-position:-800px -20px}
.caffeineSkin span.mce_template {background-position:-820px -20px}
.caffeineSkin span.mce_visualchars {background-position:-840px -20px}
.caffeineSkin span.mce_abbr {background-position:-860px -20px}
.caffeineSkin span.mce_acronym {background-position:-880px -20px}
.caffeineSkin span.mce_attribs {background-position:-900px -20px}
.caffeineSkin span.mce_cite {background-position:-920px -20px}
.caffeineSkin span.mce_del {background-position:-940px -20px}
.caffeineSkin span.mce_ins {background-position:-960px -20px}
.caffeineSkin span.mce_pagebreak {background-position:0 -40px}
.caffeineSkin .mce_spellchecker span.mceAction {background-position:-540px -20px}
